
body {
  margin: 5;
  font-family: sans-serif;
  background-color: blueviolet;
  background: linear-gradient(90deg, #ECE3E6, #e9f5f8);
}

#canvas {
  /* background: linear-gradient(120deg, #211B53, #ECE3E6); */
  border: 2px solid lightblue;
  cursor: crosshair;
  /* width: 100%; */
  /* height: 100px; */
  /* width: 500px;
  height: 500px; */
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 
.second-row{
  height: 600px;
}
.chat-container {
  position:relative;
  width: 300px;
  height: 500px;
  border: 1px solid lightsteelblue;
  border-radius: 15px;
}
#text {
  position:absolute;
  top: 95%;
  left:0px;
  width: 101%;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
}
#chat {
  position:relative;
  top: 15px;
  left: 10px;
  width:280px;
  height: 440px;
  resize: none;
  outline: none; /* add this to stop highlight on focus */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-height: 40px;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap:break-word;
  pointer-events: none;
  /* white-space: nowrap; */
}

#statusBox {
  border: 2px solid lightslategray;
  height: 500px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: f0f5f5;
}

.statusBoxUsername{
  font-size: 20px;
  font-weight: bold;
}
.statusBoxPoints{
  font-size: 14px;
  color:grey;
}
ol {
  margin:0; 
  margin-left: 25px; 
  padding:0; font-family: Arial, sans-serif; 
  color:#495055; 
  font-size:16px; 
  line-height:22px;
}
#startBtn{
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
#startBtn:hover{
  color: #404040 !important;
  font-weight: 200 !important;
  letter-spacing: 3px;
  background: none;
  transition: all 0.3s ease 0s;
}